.start_button {
    margin-bottom: 2em;
}

.input_label {
    margin-bottom: 0.4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.start_button {
    margin: 0.5em;
    width: 13.5em;
    background-color: aqua;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    padding: 0.45em;
    cursor: pointer;
    align-self: center;
}

.form_container {
    background-color: rgba(240, 248, 255, 0.8);
    width: fit-content;
    align-self: center;
    padding: 1em;
    border-radius: 1em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
