.App {
    text-align: center;
    background-size: contain;
    min-height: calc(100vh - 2px);
    padding: 1px;
    display: flex;
    flex-direction: column;
    /* background-repeat: no-repeat; */
}

.App-link {
    color: #61dafb;
}
